.mr-1 {
    margin-right: 5px;
}

.novo-botao {
  background-color: #9f0931;
}

.todos-botao {
  background-color: #468be2;
}

.consultar-botao {
  background-color: #46e29d;
}

.m-auto {
  margin: auto;
}

.padding-modal {
  padding:15px 30px;
}

.texto-titulo-modal {
  font-weight: 600; 
  font-size:larger;
}

.texto-descricao-modal {
  font-weight: 600;
  width: 40%;
}

.foto-modal {
  height: 72px;
}

.texto-valor-modal {
  width: 60%;
}